<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/vendor/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=dashboard" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=space_dashboard" />
</head>

<body>
    <!-- Include Navbar -->
    {% include './components/navbar.html' %}

    <body class="bg-gray-100 min-h-screen flex flex-col">
        <!-- Error Section -->
        <main class="flex-grow container mx-auto px-4 flex flex-col items-center justify-center text-center">
            <h1 class="text-6xl font-bold mb-4">{{ error['error_code'] }}</h1>
            <p class="text-xl text-gray-600 mb-8">{{ error['error_message'] }}</p>
            <div class="bg-gray-100 p-6 rounded-lg">
                <p class="text-gray-700">Please try again or go back to the
                    <a href="/"><span class="text-blue-600">homepage</span></a>.</p>
            </div>
        </main>
        
        <!-- Include Footer -->
        {% include './components/footer.html' %}
    </body>

</html>