<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/js/script.js">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/vendor/bulma.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=login" />
</head>

<body>
    <!-- Include Navbar -->
    {% include './components/navbar.html' %}

    <!-- Body Page -->
    <div class="city-section">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-4"><a href="/city?city={{ city_box1 }}">{{ city_box1 }}</a></p>
                                <p class="subtitle">Temperature: {{ temp_box1 }} ºC</p>
                            </div>
                        </div>
                        <div class="media-right">
                            <figure class="image is-48x48">
                                <img src={{ icon_box1 }} alt="Ícone do tempo">
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-4"> <a href="/city?city={{ city_box2 }}">{{ city_box2 }}</a></p>
                                <p class="subtitle">Temperature: {{ temp_box2 }} ºC</p>
                            </div>
                        </div>
                        <div class="media-right">
                            <figure class="image is-48x48">
                                <img src={{ icon_box2 }} alt="temp_icon">
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title is-4"> <a href="/city?city={{ city_box3 }}">{{ city_box3 }}</a></p>
                                <p class="subtitle">Temperature: {{ temp_box3 }} ºC</p>
                            </div>
                        </div>
                        <div class="media-right">
                            <figure class="image is-48x48">
                                <img src={{ icon_box3 }} alt="temp_icon">
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Include Footer -->
    {% include './components/footer.html' %}
</body>

</html>