#title {
    font-size: 2rem;
    font-weight: 200;
}

.city-section {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.map-section {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
