<!-- NavBar Test -->
<nav class="navbar is-fixed-top has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <strong>
        <p id="title">{{ title }}</p>
      </strong>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#home">Home</a>
      <a class="navbar-item" href="#about-us">About Us</a>
      <a class="navbar-item" href="#documentation">Documentation</a>
      <a class="navbar-item no-hover" href="/auth">
        <button class="button is-link is-rounded">Login/Register</button>
      </a>
    </div>
  </div>
</nav>