<div id="mobile-menu-toggle"
    class="fixed top-20 left-4 z-20 text-2xl bg-white border-2 border-gray-100 rounded-full p-2 shadow-md focus:outline-none md:hidden flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
</div>
<!-- Menu Lateral -->
<nav id="sidebar"
    class="w-64 bg-white border-r flex flex-col fixed md:relative h-screen transform -translate-x-full md:translate-x-0 transition-transform z-10">
    <div class="px-4 py-6">
        <h1 class="text-lg font-semibold">Dashboard</h1>
    </div>
    <ul class="flex-grow space-y-1">
        <!-- Seção Geral -->
        <li>
            <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:text-blue-600">
                Home
            </a>
        </li>
        <li>
            <a href="/profile" class="block py-2.5 px-4 rounded transition duration-200 hover:text-blue-600">
                Profile
            </a>
        </li>

        <!-- Separador -->
        <hr class="my-2 border-gray-200">

        <!-- Seção Admin -->
        <li class="px-4 py-6">
            <h1 class="text-lg font-semibold">Admin</h1>
        </li>
        <li>
            <a href="/admin/users" class="block py-2.5 px-4 rounded transition duration-200 hover:text-blue-600">
                Manage Users
            </a>
        </li>
        <li>
            <a href="/admin/reports" class="block py-2.5 px-4 rounded transition duration-200 hover:text-blue-600">
                System Details
            </a>
        </li>
    </ul>

    <!-- Rodapé -->
    <div class="px-4 py-4">
        <p class="text-sm text-gray-400">TrustWind © 2025 Dashboard</p>
    </div>
</nav>

<script>
    const menuToggle = document.getElementById("mobile-menu-toggle");
    const sidebar = document.getElementById("sidebar");
    const toggleIcon = menuToggle.querySelector('span');

    menuToggle.addEventListener("click", () => {
        const isHidden = sidebar.classList.contains("-translate-x-full");

        if (isHidden) {
            sidebar.classList.remove("-translate-x-full");
        } else {
            sidebar.classList.add("-translate-x-full");
        }

    });
</script>